<div class="flex flex-col items-center">
    <a href={@album.album_url} class="text-5xl font-semibold py-5 hover:underline"> <%= @album.name%> </a>
    <hr class="w-48 h-1 mx-auto my-4 bg-gray-100 border-0 rounded md:my-10 dark:bg-gray-700">
    <img src={@album.image_url} alt="Album Cover" class="py-5 rounded-lg shadow-xl dark:shadow-gray-800">
</div>